<header>
  <h2>List your conference</h2>
  <h3>Encourage thousands of speakers to submit to your conference</h3>
</header>

<section class="qualifications">
  <dl>
    <dt>Is your event:</dt>
    <dd><%= icon('check-square-o') %> For professional programmers?</dd>
    <dd><%= icon('check-square-o') %> Seeking speaker proposals?</dd>
  </dl>
</section>

<section class="approve">
  <%= link_to "Yes, list me!", conference_organizer_omniauth_authorize_path(:twitter), class: "button", role: "button" %>
</section>
