---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="I3xjsNbMvB1JTPwZtGl5gJkRq", oauth_nonce="5253692d848193e6574a15a30add91cb",
        oauth_signature="cXCZTIWbGXv52wItCQXPhOfkeeo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455320055", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 12 Feb 2016 23:34:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1672879da8ea650775ca50b8e279fc1d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455320955'
      X-Response-Time:
      - '31'
      X-Transaction:
      - 5b00c5372908373d
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4073022433,"id_str":"4073022433","name":"Fake MoV account","screen_name":"fakemovaccount","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Oct 30 22:02:20 +0000 2015","favourites_count":0,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":2,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 12 Feb 2016 23:34:16 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?cursor=-1&user_id=4073022433
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="I3xjsNbMvB1JTPwZtGl5gJkRq", oauth_nonce="b02f1dc0c1992c126d9e6922187b7527",
        oauth_signature="vEP%2BnyPwK7uAvjpTiSVKGfTE1EE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455320056", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 12 Feb 2016 23:34:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 950f9f9285aabd9986b95340aa90f830
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455320956'
      X-Response-Time:
      - '15'
      X-Transaction:
      - 40d6ada802a25c58
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"ids":[3237999706],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Fri, 12 Feb 2016 23:34:16 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: UTF-8
      string: user_id=3237999706
    headers:
      Authorization:
      - OAuth oauth_consumer_key="I3xjsNbMvB1JTPwZtGl5gJkRq", oauth_nonce="c63fe7409f5f0e952204f46b4751a602",
        oauth_signature="FEwvdjXR92Ln4n0vEvJXDkNqG4E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455320056", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 12 Feb 2016 23:34:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 406057130c2cac685c878c8f19551cba
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1455320956'
      X-Response-Time:
      - '54'
      X-Transaction:
      - 438d97dc157a4c99
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3237999706,"id_str":"3237999706","name":"&:conf","screen_name":"andconf","location":"","description":"I''m
        a feminist code retreat and unconference.","url":"https:\/\/t.co\/WOnBPD3TgN","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/WOnBPD3TgN","expanded_url":"https:\/\/www.andconf.io\/","display_url":"andconf.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":149,"friends_count":3,"listed_count":4,"created_at":"Wed
        May 06 03:46:31 +0000 2015","favourites_count":40,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":51,"lang":"en","status":{"created_at":"Thu
        Feb 04 15:13:11 +0000 2016","id":695263839097499649,"id_str":"695263839097499649","text":"@pi_steph
        @anymoto blogged about it: https:\/\/t.co\/KMJxL3MX1b &amp; here\u2019s a
        collection of tweets: https:\/\/t.co\/wPggRBKKsM","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":694935958110605312,"in_reply_to_status_id_str":"694935958110605312","in_reply_to_user_id":3899175913,"in_reply_to_user_id_str":"3899175913","in_reply_to_screen_name":"pi_steph","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"pi_steph","name":"Piinthesky","id":3899175913,"id_str":"3899175913","indices":[0,9]},{"screen_name":"anymoto","name":"Ana
        Castro","id":12666992,"id_str":"12666992","indices":[10,18]}],"urls":[{"url":"https:\/\/t.co\/KMJxL3MX1b","expanded_url":"https:\/\/medium.com\/@anymoto\/not-an-ordinary-summer-camp-508a679ed7c4#.du0uy8cb0","display_url":"medium.com\/@anymoto\/not-a\u2026","indices":[37,60]},{"url":"https:\/\/t.co\/wPggRBKKsM","expanded_url":"https:\/\/storify.com\/eanakashima\/conf-tweets","display_url":"storify.com\/eanakashima\/co\u2026","indices":[98,121]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/599401639540183040\/SdPLw1Iz_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/599401639540183040\/SdPLw1Iz_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3237999706\/1431743241","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}]'
  recorded_at: Fri, 12 Feb 2016 23:34:16 GMT
recorded_with: VCR 3.0.0
