---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FO5k9TDDAHeVvGAGkoaHUjmuF", oauth_nonce="a80299092440fea8cb082c82ba747621",
        oauth_signature="TF9z2XLMb0dI9piUWdrUf%2F1OI5c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450567209", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 19 Dec 2015 23:20:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f30594f8abebe130d139df25455a0dc1
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450568109'
      X-Response-Time:
      - '20'
      X-Transaction:
      - baff3991f26e0dae
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4073022433,"id_str":"4073022433","name":"Fake MoV account","screen_name":"fakemovaccount","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Oct 30 22:02:20 +0000 2015","favourites_count":0,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":2,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sat, 19 Dec 2015 23:20:09 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=4073022433
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FO5k9TDDAHeVvGAGkoaHUjmuF", oauth_nonce="62990da3e8d2c41df99c0d3f1577c1e7",
        oauth_signature="P7HE67aaKy5f9myiPKxbG4fNCfs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450567209", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 19 Dec 2015 23:20:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 4f2f21f2293d3b5adde77095ab3ab8db
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450568109'
      X-Response-Time:
      - '39'
      X-Transaction:
      - 704e0b1e4e009ca6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3237999706,"id_str":"3237999706","name":"&:conf","screen_name":"andconf","location":"","description":"I''m
        a feminist code retreat and unconference.","url":"https:\/\/t.co\/WOnBPD3TgN","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/WOnBPD3TgN","expanded_url":"https:\/\/www.andconf.io\/","display_url":"andconf.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":139,"friends_count":3,"listed_count":3,"created_at":"Wed
        May 06 03:46:31 +0000 2015","favourites_count":39,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":48,"lang":"en","status":{"created_at":"Sat
        Nov 14 02:22:00 +0000 2015","id":665353962384584704,"id_str":"665353962384584704","text":"RT
        @KaraAJC: This is how I felt when I was at @andconf, #myfirstconf as a developer  https:\/\/t.co\/di3K4tzL4F","source":"\u003ca
        href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Nov 12 00:04:37 +0000 2015","id":664594609528545281,"id_str":"664594609528545281","text":"This
        is how I felt when I was at @andconf, #myfirstconf as a developer  https:\/\/t.co\/di3K4tzL4F","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":8,"entities":{"hashtags":[{"text":"myfirstconf","indices":[43,55]}],"symbols":[],"user_mentions":[{"screen_name":"andconf","name":"&:conf","id":3237999706,"id_str":"3237999706","indices":[33,41]}],"urls":[{"url":"https:\/\/t.co\/di3K4tzL4F","expanded_url":"https:\/\/twitter.com\/rockbot\/status\/664594117356318720","display_url":"twitter.com\/rockbot\/status\u2026","indices":[72,95]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[{"text":"myfirstconf","indices":[56,68]}],"symbols":[],"user_mentions":[{"screen_name":"KaraAJC","name":"Kara
        Carrell","id":609443164,"id_str":"609443164","indices":[3,11]},{"screen_name":"andconf","name":"&:conf","id":3237999706,"id_str":"3237999706","indices":[46,54]}],"urls":[{"url":"https:\/\/t.co\/di3K4tzL4F","expanded_url":"https:\/\/twitter.com\/rockbot\/status\/664594117356318720","display_url":"twitter.com\/rockbot\/status\u2026","indices":[85,108]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/599401639540183040\/SdPLw1Iz_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/599401639540183040\/SdPLw1Iz_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3237999706\/1431743241","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false}],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Sat, 19 Dec 2015 23:20:10 GMT
recorded_with: VCR 3.0.0
