.style-guide {
  @extend .col-xs-12;
  @extend .col-md-6;

  &__section {
    @extend .card;
  }

  &__header {
    @extend .card-header;
    display: flex;
  }

  &__name {
    flex: 1;
  }

  &__path {
    font-size: 0.8em;
    flex: 1;
    line-height: 2.1;
    text-align: right;
  }

  &__partial {
    @extend .card-block;
  }
}
