<section class="conferences-list">
  <article class="conferences-list__event">
    <section class="conferences-list__event-container conferences-list__event-container--icon">
      <%= image_tag conference.logo_url, class: 'conferences-list__event-icon' if conference.logo_url.present? %>
    </section>
    <section class="conferences-list__event-container conferences-list__event-container--description">
      <div class="conferences-list__event-time"><%= l(conference.starts_at, format: :long) if conference.starts_at.present? %></div>
      <div class="conferences-list__event-description">
        <h5 class="conferences-list__event-text conferences-list__event-text--name"><%= link_to conference.name, conference.conference %></h5>
        <p class="conferences-list__event-text conferences-list__event-text--location"><%= conference.location %></p>
      </div>
    </section>
  </article>
</section>
