<header>
  <h2>List your conference</h2>
</header>

<%= form_for(@conference, url: conference_approval_path(@conference), method: "post") do |f| %>
  <fieldset class="submit">
    <%= f.submit "Create listing" %>
  </fieldset>
<% end %>
