.approvals {
  section.qualifications {
    dl {
      color: $action-color;
      max-width: 30rem;
      font-size: 1.5rem;
      margin: 3rem auto;
    }

    dt {
      text-align: center;
    }

    dd {
      padding-left: 1rem;
      text-indent: -1rem;
    }

    i.fa {
      color: $base-font-color;
      font-weight: normal;
      padding: 0.15rem;
    }
  }

  section.approve {
    text-align: center;

    a {
      @extend %button;
      font-size: 1.5rem;
    }
  }
}
