.conferences main {
  section.submit {
    text-align: center;
  }

  input[type='submit'] {
    font-size: 1.5rem;
  }

  form {
    max-width: 30rem;
    margin: 0 auto;
  }

  section.inputs {
    display: flex;
    justify-content: space-between;
  }

  figure {
    padding-top: 1.75rem;
    flex: 0 1 8rem;

    img {
      width: 8rem;
    }
  }

  fieldset {
    flex: 0 1 22rem;
    padding-right: 1rem;
  }
}
