body.conferences.index {
  .conferences-column--events {
    @extend .container;
    @extend .card-columns;
    margin-top: 1rem;
  }

  .flash-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0.5rem auto 0 auto;
  }

  .main-flash {
    @extend .container;
  }
}

@include media-breakpoint-up(sm) {
  body.conferences.index {
    .conferences-column--events {
      column-count: 2;
    }
  }
}

@include media-breakpoint-up(lg) {
  body.conferences.index {
    .conferences-column--events {
      column-count: 3;
    }
  }
}
