---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FO5k9TDDAHeVvGAGkoaHUjmuF", oauth_nonce="bf6d2d3f5dbe3ea0dcbc8d8a474973bd",
        oauth_signature="7uWSIIidilAlCHmHLej8iMdVvaE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450668352", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 21 Dec 2015 03:25:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1ba4202afe023431866fbb5a40100174
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1450669236'
      X-Response-Time:
      - '30'
      X-Transaction:
      - e5156c4eec7c1139
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4073022433,"id_str":"4073022433","name":"Fake MoV account","screen_name":"fakemovaccount","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Oct 30 22:02:20 +0000 2015","favourites_count":0,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":2,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Mon, 21 Dec 2015 03:25:52 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?cursor=-1&user_id=4073022433
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FO5k9TDDAHeVvGAGkoaHUjmuF", oauth_nonce="26e0585b135badfa2e66f608ef01c95e",
        oauth_signature="Pr3ZXwJbr73BzTph82kjz8FtHV8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450668352", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 21 Dec 2015 03:25:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 90a27218bfc74f90e7ea510982f6544a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1450669237'
      X-Response-Time:
      - '14'
      X-Transaction:
      - 89c99b15e2a94e2a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"ids":[3237999706],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Mon, 21 Dec 2015 03:25:53 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: UTF-8
      string: user_id=3237999706
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FO5k9TDDAHeVvGAGkoaHUjmuF", oauth_nonce="c270a2fdf1dbc6afae139700d3050367",
        oauth_signature="d5n9K%2BUTa00V3U7qk%2BIzee0RcZw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450668353", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXdIgLx2T6SqMX",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 21 Dec 2015 03:25:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d70268423cdf5ae4b2d66b0fd738b828
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1450669237'
      X-Response-Time:
      - '49'
      X-Transaction:
      - 3da0598b259281a9
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3237999706,"id_str":"3237999706","name":"&:conf","screen_name":"andconf","location":"","description":"I''m
        a feminist code retreat and unconference.","url":"https:\/\/t.co\/WOnBPD3TgN","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/WOnBPD3TgN","expanded_url":"https:\/\/www.andconf.io\/","display_url":"andconf.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":139,"friends_count":3,"listed_count":3,"created_at":"Wed
        May 06 03:46:31 +0000 2015","favourites_count":39,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":48,"lang":"en","status":{"created_at":"Sat
        Nov 14 02:22:00 +0000 2015","id":665353962384584704,"id_str":"665353962384584704","text":"RT
        @KaraAJC: This is how I felt when I was at @andconf, #myfirstconf as a developer  https:\/\/t.co\/di3K4tzL4F","source":"\u003ca
        href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Nov 12 00:04:37 +0000 2015","id":664594609528545281,"id_str":"664594609528545281","text":"This
        is how I felt when I was at @andconf, #myfirstconf as a developer  https:\/\/t.co\/di3K4tzL4F","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":8,"entities":{"hashtags":[{"text":"myfirstconf","indices":[43,55]}],"symbols":[],"user_mentions":[{"screen_name":"andconf","name":"&:conf","id":3237999706,"id_str":"3237999706","indices":[33,41]}],"urls":[{"url":"https:\/\/t.co\/di3K4tzL4F","expanded_url":"https:\/\/twitter.com\/rockbot\/status\/664594117356318720","display_url":"twitter.com\/rockbot\/status\u2026","indices":[72,95]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[{"text":"myfirstconf","indices":[56,68]}],"symbols":[],"user_mentions":[{"screen_name":"KaraAJC","name":"Kara
        Carrell","id":609443164,"id_str":"609443164","indices":[3,11]},{"screen_name":"andconf","name":"&:conf","id":3237999706,"id_str":"3237999706","indices":[46,54]}],"urls":[{"url":"https:\/\/t.co\/di3K4tzL4F","expanded_url":"https:\/\/twitter.com\/rockbot\/status\/664594117356318720","display_url":"twitter.com\/rockbot\/status\u2026","indices":[85,108]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/599401639540183040\/SdPLw1Iz_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/599401639540183040\/SdPLw1Iz_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3237999706\/1431743241","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}]'
  recorded_at: Mon, 21 Dec 2015 03:25:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?since_id=678338428191170560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FO5k9TDDAHeVvGAGkoaHUjmuF", oauth_nonce="a70f1ebf9533bd2b186c6c063fac083f",
        oauth_signature="kM9i3Qbs9W38YQsi38BKqa5qCbI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450668355", oauth_token="4073022433-ki4vGtoYvB22lhnouqt8Jc0oLuXd[...]
