<%- flash.each do |key, value| %>
  <%= content_tag(:article, class: "main-flash main-flash--#{key}", role: 'alert') do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="<%= t(:'.close') %>">
      <span aria-hidden="true">&times;</span>
    </button>
    <%- Array(value).map do |message| %>
      <%= content_tag(:p, message, class: 'main-flash__body') %>
    <%- end %>
  <%- end %>
<%- end %>
