$callback-blue: rgb(106, 158, 226);
$callback-green: rgb(95, 225, 194);
$callback-red: rgb(255, 162, 108);
$callback-yellow: rgb(255, 199, 108);

$callback-light-grey: rgb(235, 235, 235);
$callback-grey: rgb(216, 216, 216);
$callback-medium-grey: rgb(153, 153, 153);
$callback-dark-grey: rgb(51, 51, 51);

// For the North American speller, see http://grammarist.com/spelling/gray-grey
$callback-gray: $callback-grey;
$callback-light-gray: $callback-light-grey;
$callback-medium-gray: $callback-medium-grey;
$callback-dark-gray: $callback-dark-grey;

$base-font-color: $callback-dark-grey;
$action-color: $callback-blue;

$base-border-color: $callback-medium-grey;
$base-border: 0.1rem solid $base-border-color;

$base-background-color: #fff;
$header-background-color: $callback-gray;
