section.flash {
  background-color: $header-background-color;
  padding: 0.5rem 1rem;

  input {
    display: none;
  }

  input:checked + article {
    display: none;
  }

  article {
    position: relative;
    background-color: rgba($callback-green, 0.5);
    padding: 0.25rem ($base-font-size * 1.5) 0.25rem 0.5rem;
    border-radius: $base-border-radius;
  }

  article + input + article {
    margin-top: $base-font-size / 2;
  }

  article.notice {
    background-color: rgba($callback-yellow, 0.7);
  }

  article.alert {
    background-color: rgba($callback-red, 0.7);
  }

  p {
    margin-bottom: 0;
  }

  label {
    font-size: $base-font-size;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 50%;
    margin-top: $base-font-size / -2;
    right: $base-font-size / 2;
    cursor: pointer;
  }
}
