$base-font-size: 1em;
$base-line-height: 1.5;
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$heading-font-family: $base-font-family;
$heading-line-height: 1.2;

$base-border-radius: 0.25rem;

$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
