body > header {
  padding: 1rem;
  background-color: $header-background-color;

  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 1.7rem;
    line-height: 1;
    margin: 0;
  }

  a {
    color: $callback-blue;
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }

  nav a {
    border: 0.1rem solid $callback-blue;
    border-radius: $base-border-radius;
    padding: 0.25rem 0.5rem;
  }
}

body > main {
  header {
    color: $callback-blue;
    text-align: center;
    padding: 2rem 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: normal;
  }
}
