$callback-blue: #00f;

header {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: space-between;

  a {
    color: $callback-blue;
    text-decoration: none;
  }

  nav a {
    border: 0.1rem solid $callback-blue;
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
}
