.main-header {
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-faded;
  @extend .navbar-full;

  &__title {
    @extend .navbar-brand;
  }

  &__navigation {
    @extend .nav;
    @extend .navbar-nav;
  }

  &__navigation-item {
    @extend .nav-item;
  }

  &__link {
    @extend .nav-link;
  }
}

body > main {
  header {
    color: $callback-blue;
    text-align: center;
    padding: 2rem 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: normal;
  }
}
